@model IEnumerable<Imobi.Models.ViewModels.Vistoria.Vistoria>
@{
    ViewData["Title"] = "Index";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVistoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Energia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gas)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(model => item.DataVistoria)
            </td>
            <td>
                @Html.DisplayFor(model => item.Status)
            </td>
            <td>
                @Html.DisplayFor(model => item.Energia)
            </td>
            <td>
                @Html.DisplayFor(model => item.Agua)
            </td>
            <td>
                @Html.DisplayFor(model => item.Gas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a asp-action="Edit" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
        }
    </tbody>
</table>

