@model Imobiliaria.Models.Vistoria.VistoriaVM
@using Imobiliaria.Resources;
@using Imobiliaria.Helpers;
@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <title>VistoriaPDF</title>
</head>
<body>
    <header>
        <h1 style="text-align: center; "><img src="images/logoTeste.jpg" alt="Texto" />         Laudo de vistoria</h1>
        <p style="font-weight: bold;">Vitoria do imóvel sito à:</p>
        <hr />
        <p style="font-weight: bold;">O qual foi alocado ao Sr.[a]: </p>
        <hr />
        <p>@Resource.Titulo_DataSolicitacao 00/00/0000</p>
        <p style="font-weight: bold;">
            O presente "auto de vistoria" foi executado pelos abaixo assinados e passa a ser parte integrante do contrato
            de locação, para todos os fins e efeitos de direito.
        </p>
    </header>
    <p style="font-weight: bold; color:crimson">Estado do imóvel: </p>
    <p style="font-weight: bold; color:crimson">Idade aproximada do imóvel:</p>
    <p style="font-weight: bold; color:crimson">Possui energia eletrica: @Model.Medicao.StatusEnergia</p>
    <p style="font-weight: bold; color:crimson">Possui água: @Model.Medicao.StatusAgua</p>
    <p style="font-weight: bold; color:crimson">Possui gás: @Model.Medicao.GasEncanadoStr</p>
    <p style="font-weight: bold; color:crimson">Possui extintor: @Model.Medicao.ExtintorStr</p>

    <h2>Comodos</h2>

    @foreach (var comodo in Model.LstComodo)
    {
        <h3>@comodo.Nome</h3>

        <p>Cor Teto: @Constants.Cor.BuscarCor(comodo.CorTeto)</p>
        <p>Cor Parede: @Constants.Cor.BuscarCor(comodo.CorParede)</p>

        foreach (var nota in comodo.LstNota)
        {
            <p>@nota.Titulo: @nota.Descricao</p>
        }

    }

</body>
</html>